#include "windows.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
10 DIALOG 0, 0, 200, 157
STYLE DS_3DLOOK | DS_ABSALIGN | DS_CENTER | DS_SETFONT | WS_CAPTION | WS_VISIBLE | WS_CLIPSIBLINGS | WS_POPUP | WS_SYSMENU
EXSTYLE WS_EX_WINDOWEDGE | WS_EX_ACCEPTFILES | WS_EX_APPWINDOW
FONT 9, "Verdana"
{
    ICON            2, 101, 8, 16, 52, 56, SS_ICON | SS_CENTERIMAGE | SS_NOTIFY
    AUTOCHECKBOX    "", 102, 76, 16, 112, 12, BS_FLAT
    AUTOCHECKBOX    "", 103, 76, 28, 112, 12, BS_FLAT
    LTEXT           "", 104, 76, 44, 40, 12, SS_LEFT | SS_CENTERIMAGE
    LTEXT           "", 105, 76, 56, 40, 12, SS_LEFT | SS_CENTERIMAGE
    CONTROL         "", 106, HOTKEY_CLASS, WS_TABSTOP, 116, 44, 72, 12
    CONTROL         "", 107, HOTKEY_CLASS, WS_TABSTOP, 116, 56, 72, 12
    LTEXT           "", 108, 12, 92, 24, 12, SS_LEFT | SS_CENTERIMAGE
    LTEXT           "", 109, 12, 104, 24, 12, SS_LEFT | SS_CENTERIMAGE
    LTEXT           "", 110, 36, 92, 152, 12, SS_LEFT | SS_CENTERIMAGE
    LTEXT           "", 111, 36, 104, 152, 12, SS_LEFT | SS_CENTERIMAGE
    AUTOCHECKBOX    "", 112, 12, 120, 44, 12, BS_FLAT
    AUTOCHECKBOX    "", 113, 12, 132, 44, 12, BS_FLAT
    AUTOCHECKBOX    "", 114, 56, 120, 60, 12, BS_FLAT
    PUSHBUTTON      "", 115, 116, 120, 72, 24, BS_MULTILINE | BS_FLAT
    GROUPBOX        "", 116, 4, 4, 60, 72, BS_CENTER, WS_EX_TRANSPARENT
    GROUPBOX        "", 117, 68, 4, 128, 72, 0, WS_EX_TRANSPARENT
    GROUPBOX        "", 118, 4, 80, 192, 72, 0, WS_EX_TRANSPARENT
}

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
2                  CURSOR         "cros.cur"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
1                  ICON           "main.ico"
